{% extends 'base.html' %}

{% block title %}{% if title %}{{title}}{% else %}Thrift Experiences{% endif %}{% endblock %}

{% block content %}
<!-- Hero Section -->
<section id="hero" class="hero section light-background">

  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="zoom-out">
        <!--Welcome to <span>{{ company }}</span></h1> --> <h1>
        <h1>{{ company }}<span> Preparing Our Students To Thrive</span></h1>
        <p>We’re a dedicated teaching team helping young minds grow, one inspired lesson at a time.</p>
        <div class="d-flex">
          <a href="#about" class="btn-get-started">Get Started</a>
          <a href="https://youtu.be/JzWbu371MuI?si=MRLR5skmAF6Yc1HY" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
        </div>
      </div>
    </div>
  </div>

</section><!-- /Hero Section -->

<!-- Featured Services Section -->
<section id="featured-services" class="featured-services section">

  <div class="container">

    <div class="row gy-4">

      <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100" style="background-color:#2cb01d !important;">
        <div class="service-item position-relative" style="background-color:#2cb01d !important;">
          <div class="icon"><i class="bi bi-activity icon"></i></div>
          <h4><a href="" class="stretched-link">Local and Global Relevance</a></h4>
          <p>Nurturing a shared awareness and understanding of local and global  perspectives and cultures, to encourage interconnectedness and international mindedness as future changemakers.
          </p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200" style="background-color:#d70fb6 !important;">
        <div class="service-item position-relative" style="background-color:#d70fb6 !important;">
          <div class="icon"><i class="bi bi-bounding-box-circles icon"></i></div>
          <h4><a href="" class="stretched-link">Student Agency</a></h4>
          <p>
            Empowering student voice, choice  and ownership of learning by encouraging personal interests, initiatives, perseverance and adaptability, driven by ongoing reflection and individual progress.
          </p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300" style="background-color:#ffcd05 !important;">
        <div class="service-item position-relative" style="background-color:#ffcd05 !important;">
          <div class="icon"><i class="bi bi-calendar4-week icon"></i></div>
          <h4><a href="" class="stretched-link"> 
            Future-Focused Skills
          </a></h4>
          <p>Acquiring knowledge, conceptual understanding and essential skill sets that are collectively applied to thrive in an innovative and fast-changing world.
          </p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400" style="background-color:#F0151F !important;">
        <div class="service-item position-relative" style="background-color:#F0151F !important;">
          <div class="icon"><i class="bi bi-broadcast icon"></i></div>
          <h4><a href="" class="stretched-link">Personalised Learning Journey
          </a></h4>
          <p>
            Shaping a learning journey, in which data-driven insights guide targeted instruction, content, skills, tools, pace and mentorship discussions to support and enrich each student as a unique individual.


          </p>
        </div>
      </div><!-- End Service Item -->

    </div>

  </div>

</section><!-- /Featured Services Section -->


<!-- About Section -->
<section id="about" class="about section light-background">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>About</h2>
    <p><span>Find Out More</span> <span class="description-title">About Us</span></p>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row gy-3">

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <img src="{{ url_for('static', filename='img/about.jpg') }}" alt="" class="img-fluid">
      </div>

      <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
        <div class="about-content ps-0 ps-lg-3">
          <h3>Unlocking Global Futures, One Learner at a Time

            </h3>
          <p class="fst-italic">
            At {{ company }}, we offer a world-class, future-focused education that prepares your child to thrive — not just locally, but anywhere in the world. As an international  and local school rooted in South Africa, we deliver a learning experience that is innovative, progressive, and personally meaningful.
          </p>
          <ul>
            <li>
              <i class="bi bi-diagram-3"></i>
              <div>
                <h4>Expertly Delivered Teaching & Learning
                </h4>
                <p>
                  Our qualified, passionate teachers offer a broad range of subjects and support services to meet the diverse needs of each student. From foundational literacy and numeracy in the early grades to academic excellence and career readiness in high school, we deliver focused, high-impact teaching that builds confidence and competence at every stage.
                </p>
              </div>
            </li>
            <li>
              <i class="bi bi-fullscreen-exit"></i>
              <div>
                <h4>Seamless Enrollment & Support</h4>
                <p>
                  Getting started with {{ company }} is simple and stress-free. Our smooth admissions process, responsive staff, and clear communication ensure that your family feels supported from day one. We handle the details—so you can focus on what matters most: your child’s education.


                </p>
              </div>
            </li>
          </ul>
          <p>
            Whether it’s academic support, mentorship, or career guidance, we’re committed to walking the journey with every learner and parent. From school entry to graduation, we provide consistent support and a strong community focused on growth, values, and success.
          </p>
        </div>

      </div>
    </div>

  </div>

</section><!-- /About Section -->
{% endblock %}

